.app_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}


.app_btn {
    width: 100%;
    max-width: 200px;
    padding: 10px;
    background-color: #8e60ca;
    box-shadow: 0px 1px 3px black;
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin-top: 15px;
    cursor: pointer;
    transition: transform 200ms ease, box-shadow 200ms ease;
}

.app_btn:hover {
    transform: scale(1.02);
    box-shadow: 0px 1px 3px #0005;
    transition: transform 200ms ease, box-shadow 200ms ease;
}

.form_container {
    width: 100%;
    min-height: 100vh;
    background-color: #0002;
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disable_form {
    display: none;
}

.cards_container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}


.label_inputs {
    font-weight: bolder;
    
}

