@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&family=Oswald:wght@200;300;400;500;600&display=swap');

/*--------Reset--------*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background-color: rgba(245, 222, 179, 50%);
}

h1, h2, h3, h4, p, ul {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

button {
    border: none;
    outline: none;
}
